@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

body {
  font-family: "roboto", "san-serif";
}

.hero-carousel .react-multi-carousel-track {
  align-items: baseline;
}

.hero-carousel .react-multi-carousel-track li {
  text-align: center;
  margin-left: 3em;
  display: flex;
  justify-content: center;
  width: auto !important;
}

.hero-carousel .react-multi-carousel-item {
  flex: none !important;
}

.hero-carousel .react-multiple-carousel__arrow {
  bottom: 70px;
}